<section class="pb-5 bg-gray">
    <div class="align-items-center justify-content-center">

        <h2 class="text-container">Próximas representaciones</h2>

        <div class="d-flex justify-content-center align-items-center gap-4">
            <div class="card p-0 shadow-lg">
                <img class="card-img-top" src="assets/img/miniatura-escapadas.webp" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">Albahonda 1</p>
                    <p class="card-fecha">17 - Mayo - 2025</p>
                    <p class="card-hora">20:00</p>
                    <a href="/escapadas" class="btn btn-secondary">Escapadas</a>
                </div>
            </div>
            <div class="card p-0 shadow-lg">
                <img class="card-img-top" src="assets/img/miniatura-notefies.webp" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">Albahonda 1</p>
                    <p class="card-fecha">29 - Mayo - 2025</p>
                    <p class="card-hora">18:30</p>
                    <a href="/notefies" class="btn btn-secondary">No te fíes</a>
                </div>
            </div>
        </div>
    </div>
</section>