
.bg-gray {
    background-color: #cccccc;
}

.card{
    width: 300px;
    border: none;
}

.text-container {
    text-align: center;
    padding: 20px;
}
.card-body{
    place-items: center;
}
.card-body p{
    margin-bottom: 0.25rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}