<header class="banner-container">
    <div class="row align-items-center justify-content-evenly">
        <!-- Imagen -->
        <div class="col-lg-6 col-xl-4">
            <img src="assets/img/actuaciones-divinas.webp" alt="Divinas... Teatro" class="img-fluid banner-image">
        </div>

        <!-- Texto -->
        <div class="col-lg-6 col-xl-4 text-container">
            <h1 class="title">Próximas actuaciones de Divinas Teatro</h1>
            <p class="description">
               Descubre dónde y cuando serán nuestras próximas representaciones.</p>
        </div>
    </div>
</header>

<app-actuaciones-component></app-actuaciones-component>
