<header class="banner-container">
    <div class="row align-items-center justify-content-evenly">
        <!-- Imagen -->
        <div class="col-md-6 col-xl-4">
            <img src="assets/img/banner-escapadas.webp" alt="Divinas... Teatro" class="img-fluid banner-image">
        </div>

        <!-- Texto -->
        <div class="col-md-6 col-xl-4 text-container">
            <h1 class="title">Escapadas</h1>
            <p class="description">
                Tres amigas de toda la vida deciden escaparse de sus quehaceres
                cotidianos, para disfrutar unos días juntas en la playa y celebrar un
                divorcio.</p>
            <p class="description">
                Las tres, ya maduras, muy casadas, menos casadas y
                divorciadas, hablarán de sus cosas; tópicos típicos femeninos sobre el
                paso del tiempo, lo que esperan y no esperan, el amor, el sexo y todo lo
                demás...</p>
            <ul class="características">
                <li>🎭 Comedia</li>
                <li>👥 Jóvenes y adultos</li>
                <li>⏱️ 75 minutos</li>
            </ul>

        </div>
    </div>
</header>

<section class="pb-5 bg-gray">
    <div class="container">
        <div class="row gy-4">

            <div class="col-12 d-flex justify-content-center">
                <div class="card flex-row h-100 shadow-lg">
                    <div class="card-body d-flex flex-column align-items-start justify-content-center">
                        <strong class="d-inline-block mb-2 text-success">Directora</strong>
                        <h3 class="mb-0">Lola</h3>
                        <div class="mb-1 text-muted">Elena Romero</div>
                    </div>
                    <img class="card-img-right" src="assets/img/elena-escapadas.webp" alt="Lola" width="200px"
                        height="250px" loading="lazy">
                </div>
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-center">
                <div class="card flex-row h-100 shadow-lg">
                    <div class="card-body d-flex flex-column align-items-start justify-content-center">
                        <h3 class="mb-0">Cuca</h3>
                        <div class="mb-1 text-muted">Mercedes García</div>
                    </div>
                    <img class="card-img-right" src="assets/img/mercedes-escapadas.webp" alt="Cuca" width="200px"
                        height="250px" loading="lazy">
                </div>
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-center">
                <div class="card flex-row h-100 shadow-lg">
                    <div class="card-body d-flex flex-column align-items-start justify-content-center">
                        <h3 class="mb-0">Lisa</h3>
                        <div class="mb-1 text-muted">Silvia Jiménez</div>
                    </div>
                    <img class="card-img-right " src="assets/img/silvia-escapadas.webp" alt="Lisa" width="200px"
                        height="250px" loading="lazy">
                </div>
            </div>

        </div>
    </div>
</section>

<section class="py-5 bg-dark text-center">
    <div class="container">
        <h2 class="text-white mb-4 title">🎬 Tráiler</h2>
        <div class="video-wrapper ratio ratio-16x9">
            <iframe src="https://drive.google.com/file/d/1Gz69_kUbvXa99JdVFn7tXkAvz038SFbn/preview" allow="autoplay"
                allowfullscreen>
            </iframe>
        </div>
    </div>
</section>

<section class="py-5 bg-gray">
    <div class="container">
        <h2 class="text-center mb-4 title">Galería</h2>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img src="assets/img/escapadas1.webp" alt="Escapada 1" class="img-fluid rounded"
                    loading="lazy"></ng-template>
            <ng-template carouselSlide><img src="assets/img/escapadas2.webp" alt="Escapada 2" class="img-fluid rounded"
                    loading="lazy"></ng-template>
            <ng-template carouselSlide><img src="assets/img/escapadas3.webp" alt="Escapada 3" class="img-fluid rounded"
                    loading="lazy"></ng-template>
            <ng-template carouselSlide><img src="assets/img/escapadas4.webp" alt="Escapada 4" class="img-fluid rounded"
                    loading="lazy"></ng-template>
            <ng-template carouselSlide><img src="assets/img/escapadas5.webp" alt="Escapada 5" class="img-fluid rounded"
                    loading="lazy"></ng-template>

        </owl-carousel-o>
    </div>
</section>