/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Philosopher-Regular';
    src: url('./assets/fonts/Philosopher-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Philosopher-Regular', sans-serif !important;
}
