<header class="banner-container">
    <div class="row align-items-center justify-content-evenly">
        <!-- Imagen -->
        <div class="col-md-6 col-xl-4">
            <img src="assets/img/actrices-divinas.webp" alt="Divinas... Teatro" class="img-fluid banner-image">
        </div>

        <!-- Texto -->
        <div class="col-md-6 col-xl-4 text-container">
            <h1 class="title">Divinas Teatro</h1>
            <p class="description">
                Divinas de la Muerte está formada por tres actrices que, tras varias
                décadas de formar parte en diversos grupos de teatro de
                Salamanca y Madrid, deciden crear una plataforma propia.</p>
            <p class="description">
                Nuestro objetivo es desarrollar propuestas con un sello muy
                personal, explorando lo femenino desde múltiples prismas.
                Arrancamos en el verano de 2021 y en la actualidad contamos con
                dos montajes: NO TE FÍES y ESCAPADAS.</p>
        </div>
    </div>
</header>

<section class="mb-5">
    <div class="row align-items-center justify-content-center">

        <h2 class="text-container">Próximas representaciones</h2>

        <div class="row d-flex justify-content-center gap-4">
            <div class="card p-0" style="width: 300px">
                <img class="card-img-top" src="assets/img/miniatura-escapadas.webp" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">Albahonda 1</p>
                    <p class="card-fecha">17 - Mayo - 2025</p>
                    <p class="card-hora">20:00</p>
                    <p class="card-obra">Escapadas</p>
                    <a href="/escapadas" class="btn btn-primary">Escapadas</a>
                </div>
            </div>
            <div class="card p-0" style="width: 300px">
                <img class="card-img-top" src="assets/img/miniatura-notefies.webp" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">Albahonda 1</p>
                    <p class="card-fecha">29 - Mayo - 2025</p>
                    <p class="card-hora">18:30</p>
                    <p class="card-obra">No te fíes</p>
                    <a href="/notefies" class="btn btn-primary">No te fíes</a>
                </div>
            </div>
        </div>
    </div>
</section>