<header class="banner-container">
    <div class="row align-items-center justify-content-evenly">
        <!-- Imagen -->
        <div class="col-md-6 col-xl-4">
            <img src="assets/img/actrices-divinas.webp" alt="Divinas... Teatro" class="img-fluid banner-image">
        </div>

        <!-- Texto -->
        <div class="col-md-6 col-xl-4 text-container">
            <h1 class="title">Divinas Teatro</h1>
            <p class="description">
                Divinas de la Muerte está formada por tres actrices que, tras varias
                décadas de formar parte en diversos grupos de teatro de
                Salamanca y Madrid, deciden crear una plataforma propia.</p>
            <p class="description">
                Nuestro objetivo es desarrollar propuestas con un sello muy
                personal, explorando lo femenino desde múltiples prismas.
                Arrancamos en el verano de 2021 y en la actualidad contamos con
                dos montajes: NO TE FÍES y ESCAPADAS.</p>
        </div>
    </div>
</header>
<app-actuaciones-component></app-actuaciones-component>
